{% extends 'base.html.twig' %}

{% block title %}Nous contacter - La Boutique Française{% endblock %}

{% block content %}
    <h2>Nous contacter</h2>
    <p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais.</p>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <strong>La Boutique Française</strong>
            <hr>
            <p><i class="fas fa-phone mr-2"></i> + 01 234 567 88</p>
            <p><i class="fas fa-home mr-2"></i> Pl. de la Loge, 66000 Perpignan</p>
            <p><i class="fas fa-envelope mr-2"></i>boutique_francais@gmail.com</p>
        </div>
    </div>

{% endblock %}
